/build
.idea
# Ignore the icon path since this project is intended
# just for checking if all icons are correctly rendered
# on Preview tab.
/src/main/kotlin/dev/tonholo/sampleApp/ui/icon

/src/main/res/drawable/*
!/src/main/res/drawable/ic_launcher_background.xml
!/src/main/res/drawable/ic_launcher_foreground.xml
/src/main/res/minimap-*/*
!/src/main/res/minimap-*/ic_launcher.xml
!/src/main/res/minimap-*/ic_launcher_round.xml
/src/main/res/values/*
!/src/main/res/values/color.xml
!/src/main/res/values/strings.xml
!/src/main/res/values/themes.xml
/src/main/res/xml/*
!/src/main/res/xml/backup_rules.xml
!/src/main/res/xml/data_extraction_rules.xml
