name: Pull request check
on: pull_request
jobs:
  build-and-check:
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
        - name: Checkout the repo
          uses: actions/checkout@v4

        - name: Checkout the repo
          uses: actions/checkout@v4
  
        - name: Prepares environment for building
          uses: ./.github/actions/setup
  
        - name: Prepare nodeJS enviroment for integrity check
          uses: ./.github/actions/setup-nodejs
          with:
            os: ${{ matrix.os }}
        
        - name: Cache Kotlin Konan
          id: cache-kotlin-konan
          uses: actions/cache@v4
          with:
            path: |
              ~/.konan/**/*
            key: kotlin-konan-${{ matrix.os }}
  
        - name: Build Native Binary for macos
          if: matrix.os == 'macos-latest'
          uses: burrunan/gradle-cache-action@v1
          with:
            gradle-version: wrapper
            job-id: ${{ matrix.os }}
            arguments: releaseMacOS
  
        - name: Build Native Binary for Windows
          if: matrix.os == 'windows-latest'
          uses: burrunan/gradle-cache-action@v1
          with:
            gradle-version: wrapper
            job-id: ${{ matrix.os }}
            arguments: releaseWindows
  
        - name: Build Native Binary for Linux
          if: matrix.os == 'ubuntu-latest'
          uses: burrunan/gradle-cache-action@v1
          with:
            gradle-version: wrapper
            job-id: ${{ matrix.os }}
            arguments: releaseLinux

        - name: Running Detekt
          shell: bash
          run: |
              ./gradlew detektMetadataCommonMain

        - name: Verify unit tests
          shell: bash
          run: |
            ./gradlew cleanAllTests allTests
          continue-on-error: false

        - name: CLI Integrity check using SVG
          uses: ./.github/actions/cli-integrity-check
          with:
            type: svg
          continue-on-error: false
  
        - name: CLI Integrity check using XML
          uses: ./.github/actions/cli-integrity-check
          with:
            type: xml
          continue-on-error: false
